.button {
    background-color: #4CAF50; /* Hijau */
    border: none;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 3px 50px;
    cursor: pointer;
  }
  
  .button2 {background-color: #008CBA;} /* Biru */
  .button3 {background-color: #f44336;} /* Merah */ 
  .button4 {background-color: #e7e7e7; color: black;} /* Abu-abu */ 
  .button5 {background-color: #555555;} /* Hitam */
